{# templates/cloudinit_networkconfig.j2 #}
{# Sets management NIC only — data plane NICs left for DO #}
version: 1
config:
  - type: physical
    name: mgmt
    subnets:
      - type: static
        address: "{{ hostvars[node_name].f5_mgmt_ip }}/{{ f5_mgmt_prefix }}"
        gateway: "{{ f5_mgmt_gateway }}"
        dns_nameservers: {{ f5_dns_servers | to_json }}
        dns_search: {{ f5_dns_search | to_json }}
